body {
  margin: 2%;
  padding: 3%;
  background-color: lightgreen;
  font-family: fantasy, sans-serif;
}

.container {
  margin: 0 auto;
  width: 720px;
}

.container nav ul {
  float: right;
}

.achievement-block {
  border: medium solid purple;
}
