Achievements Home
<div class="achievement-list">
  <div class="achievement-container">
    <% @achievements.each do |achievement| %>
    <ul class="achievement-block">
        <li><%= achievement.character %></li>
        <li><%= achievement.achievement_type %></li>
        <li><%= achievement.item_id %></li>
    </ul>
    <% end %>
  </div>
</div>
